
.pts-parallax {
    padding: 0;
    .pav-inner {
        background-attachment: fixed;
        background-clip: padding-box;
        background-position: center center;
        background-size: auto;
    } 
} 