
/* tab style */
.htabs{  
    ul{
      border: none;
        > li{
            @include rtl-margin-left(5px);
            @include rtl-float-left();
            display: block;
            a {
                border: 1px solid $border-color;
                font-family: $font-family-secondary;
                font-size: $htab-nav-font-size;
                text-transform: uppercase;
                padding: 8px 15px;
                @include rtl-margin-right(0);
                &.selected {
                    color: $htab-nav-selected-color;
                    background-color: $htab-bg-selected;
                    border-color: $htab-bg-selected;
                    display: block;
                    &:hover {
                        box-shadow: none;
                    }
                }
                &:hover{   
                  border-color: $htab-bg-selected;  
                  color: $htab-nav-selected-color;               
                  background-color: $htab-bg-selected;
                }
            }
        }
    }      
}
 
table.form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    & > * {
        & > * {
            & > td {
                color: #000000;
            }
        }
    }
    td {
        padding: 4px;
    }
    tr {
        td:first-child {
            width: 170px;
        }
    }
}
table.radio {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    display: table;
    td {
        padding: 5px;
        label {
            display: block;
        }
        input[type="radio"]{
            margin: 0;
        }
    }
    tr {
        td:first-child {
            width: 1px;
            input {
                margin-top: 1px;
            }
        }
    }
    tr.highlight:hover {
        td {
            background: lighten($border-color, 5%);
            cursor: pointer;
        }
    }
}


ul.nav-theme{
  display: inline-block;
  width: auto;
  position: relative;
  &:before, &:after{
      content: "";
      position: absolute;
      top: 50%;
      width: 1000px;
      background: $border-color;
      height: 1px;
  }
  &:after{
    @include rtl-right(100%);
  }
 &:before{
      @include rtl-left(100%);
  }
  >li{
    @include rtl-float-left();
    width: auto;
    a{
      @include rtl-border-left(1px solid $border-color);
      font-weight: 100;
      color: $theme-color-primary;
      font-family: $font-family-secondary;
      font-size: $font-size-base + 5;
      padding: 6px 30px;
      &:hover{
        background: none;
        color: $black;
      }
      &.selected{
         background: none;
        color: $black;
    }
    }
    &.active{
      a{
        background: none;
        color: $black;
      }
    }
    &:first-child a{
      border: none;
    }
  }
  &.noborder{
       &:before, &:after{
         background: none;
       }
  }
}


//
// Color box
// --------------------------------------------------
#colorbox{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
} 
.no-padding { padding: 0; }


.required {
  color: #FF0000;
  font-weight: normal;
  font-size: $font-size-base - 1;
}

.success, .warning, .attention, .information {
  padding: 10px 10px 10px 33px;  
  margin: $line-height-computed 0;
  color: #555555;
  @include rounded-corners( 5px );
}
.success .close, .warning .close, .attention .close, .information .close {
  @include rtl-float-right();
  padding-top: 4px;
  @include rtl-padding-right(4px);
  cursor: pointer;
}
.attention {
  background: #FFF5CC url('#{$image-theme-path}attention.png') 10px center no-repeat;
  border: 1px solid #F2DD8C;
  @include rounded-corners( 5px );
}
.warning {  
  background: #FFD1D1 url('#{$image-theme-path}warning.png') 10px center no-repeat;
  border: 1px solid #F8ACAC;
  @include rounded-corners( 5px );
}
.success {
  background: #EAF7D9 url('#{$image-theme-path}success.png') 10px center no-repeat;
  border: 1px solid #BBDF8D;
  @include rounded-corners( 5px );
}
.help {
  color: #999;
  font-size: 10px;
  font-weight: normal;  
  display: block;
}
.error {
  display: block;
  color: #FF0000;  
  margin-top: $padding-small-vertical;
}

.welcome {
  color: #636E75;  
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: $font-size-base + 7;
  font-weight: normal;
  text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}

.padding-1{
    padding:0 10%;
}

.megaproducts{
  
}